.navbar {
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem 1rem 0.5rem; 
  background-color: #0f0f0f;
  background: linear-gradient(90deg,#000000 0%, #000000 60%, #BF20F0 80%, #FD9C00 100%);
  color: #000000;
  position: relative;
  z-index: 1000;
  box-shadow: 0 2px 8px #BF20F0;
}

.logo img {
  height: 60px;
}

.burger {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.burger span {
  width: 25px;
  height: 3px;
  background: #000000;
  transition: all 0.3s ease;
}

.burger.open span:nth-child(1) {
  transform: rotate(45deg) translate(5px, 5px);
}
.burger.open span:nth-child(2) {
  opacity: 0;
}
.burger.open span:nth-child(3) {
  transform: rotate(-45deg) translate(5px, -5px);
}

.nav-links {
  position: absolute;
  top: 80px;
  right: 0rem;
  background: #000000;
  border: 1px solid #BF20F0;
  border-radius: 8px;
  padding: 1rem;
  display: none;
  flex-direction: column;
  box-shadow: #000000 0px 0px 10px 2px;
}

.nav-links.show {
  display: flex;
}

.nav-links li {
  list-style: none;
  margin: 0.5rem 0;
}

.nav-links a {
  color: #bebebe;
  text-decoration: none;
  font-weight: bold;
}
