.content-div
{
    margin: 20px;
    max-width: 1250px;
}

p {
    text-align: justify;
}

.gradient-divider {
    height: 4px;
    width: 100%;
    border: none;
    background: linear-gradient(to right, #BF20F0 20%, #FD9C00 40%, rgba(253,156,0,0) 100%);
}